{% extends 'accounts/main.html' %}
{% block content %}

<br>
<br>
<div class="row">
  <div class="col">
    <div class="col-md">
      <div class="card text-center bg-success text-white mb-3">
        <div class="card-header">
          <h5 class="card-title" style="color:white">Hello..<i style="color:red">{{user.username}},</i></h5>
        </div>
        <div class="card-body">
          <a class="btn btn-outline-danger  btn-sm btn-block" style="color:white" href="{% url 'create_patient' %}">Fill Form</a>
          <a class="btn btn-outline-danger  btn-sm btn-block" style="color:white" href="{% url 'patient_settings' %}">Update Form</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center bg-info text-white mb-3">
        <div class="card-header">
          <h5 class="card-title" style="color:white">Appointment Date</h5>
          {% for i in appointments %}
             <div class="card-body">
              <h5 class="card-title">{{i.appointDate}}</h5>
             </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center bg-danger text-white mb-3">
        <div class="card-header">
          <h5 class="card-title" style="color:white">My Profile</h5>
        </div>
        <div class="card-body">
          <img class="profile-pic" src="{{request.user.patient.profile_pic.url}}" width="150px" height="110px"><br><br>
          <h5 class="card-title"><i>{{user.email}}</i></h5>
          <h5 class="card-title"><i>{{request.user.patient.contact}}</i></h5>
        </div>
      </div>
    </div>
  </div>



</div>

{% endblock %}