
{% extends  'accounts/main.html' %}
{% load static %}
{% block content %}

 <div class="about-section" style="background-color:grey">
<br>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <img src="https://image.freepik.com/free-vector/blond-child-boy-cartoon-character-playing-doctor-flat-vector-illustration-isolated-white-surface_118421-1557.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Dr.Sarmila Shah</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>sarmila@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
<div class="col-md-6">
    <div class="card card-body">
      <img src="https://image.freepik.com/free-vector/blond-child-boy-cartoon-character-playing-doctor-flat-vector-illustration-isolated-white-surface_118421-1557.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Dr.Sarmila Shah</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>sarmila@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-body">
      <img src="https://image.freepik.com/free-vector/blond-child-boy-cartoon-character-playing-doctor-flat-vector-illustration-isolated-white-surface_118421-1557.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Dr.Sarmila Shah</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>sarmila@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-body">
      <img src="https://image.freepik.com/free-vector/blond-child-boy-cartoon-character-playing-doctor-flat-vector-illustration-isolated-white-surface_118421-1557.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Dr.Sarmila Shah</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>sarmila@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>


</div>
</div>
{% endblock %}