<br>
<div class="row">
   <div class="col">
     <div class="col-md">
       <div class="card text-center text-white bg-primary mb-3" id="total-patient">
         <div class="card-header">
            <h5 class="card-title">Total Doctor</h5>
          </div>
            <div class="card-body">
              <h3 class="card-title">{{ total_doctor }}</h3>
            </div>
         </div>
       </div>
     </div>

     <div class="col">
    <div class="col-md">
      <div class="card text-center text-white  bg-info mb-3" id="inprogress">
        <div class="card-header">
           <h5 class="card-title">Total Patient</h5>
        </div>
        <div class="card-body">
             <h3 class="card-title">{{total_patient}}</h3>
        </div>
      </div>
    </div>
  </div>

    <div class="col">
      <div class="col-md">
         <div class="card text-center text-white bg-success mb-3" id="pending">
           <div class="card-header">
              <h5 class="card-title">Total Appointment</h5>
           </div>
             <div class="card-body">
                <h3 class="card-title">{{total_appointments}}</h3>
             </div>
           </div>
         </div>
      </div>

 </div>